.calendar-cell {
  min-height: 150px;
  transition: all 0.2s ease;
}

.calendar-cell:hover {
  background-color: #FDFBF7;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #DADADA;
  border-radius: 10px;
}